<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About KIAPI" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext[site.locale].about.text | default: "설립 목적" }}</h3>  <br>
        <p class="text-faded">자동차부품업체의 권익 옹호와 ITS기반 자동차 부품 거점 밸리로 육성하기 위하여</p>
        <p class="text-faded">인프라 구축과 이의 효율적인 관리 운영을 통해</p>
        <p class="text-faded">첨단 고부가 자동차 부품산업 및 관련 사업의 국제경쟁력 강화와 발전에 기여</p>
        <p> <img src="assets/img/about/kiapi_main_building.PNG" width="2000" height="1361" class="center"> </p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <h3>{{ site.data.sitetext[site.locale].about.text | default: "현황" }}</h3>  <br>
            <h5>{{ site.data.sitetext[site.locale].about.text | default: "위치" }}</h3>
              <p class="text-faded">대구광역시 달성군 구지면 국가산단서로 201</p>
              <p class="text-faded">201, Gukgasandanseo-ro, Guji-myeon, Dalseong-gun, Daegu, 43011, Republic of Korea</p>
            <h5>{{ site.data.sitetext[site.locale].about.text | default: "규모" }}</h3>
              <p class="text-faded">413,564m² 규모의 시험장 및 관련 장비 운영</p>
              <p class="text-faded">Test track of 413,564m² and operation of related equipment</p>
            <p> <img src="assets/img/about/kiapi_location.png" width="2000" height="2527" class="center"> </p>
          </div>
      </div>
  </div>

  <br><br>  <br><br>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Data Base" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext.about.text | default: "Purpose of Construction" }}</h3>  <br>
        <p class="text-faded">Descript in this location</p>
      </div>
    </div>
  </div>
</section>

{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About KIAPI" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext[site.locale].about.text | default: "설립 목적" }}</h3>  <br>
        <p class="text-faded">자동차부품업체의 권익 옹호와 ITS기반 자동차 부품 거점 밸리로 육성하기 위하여</p>
        <p class="text-faded">인프라 구축과 이의 효율적인 관리 운영을 통해</p>
        <p class="text-faded">첨단 고부가 자동차 부품산업 및 관련 사업의 국제경쟁력 강화와 발전에 기여</p>
        <p> <img src="assets/img/about/kiapi_main_building.PNG" width="60%" class="center"> </p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <h3>{{ site.data.sitetext[site.locale].about.text | default: "현황" }}</h3>  <br>
            <h5>{{ site.data.sitetext[site.locale].about.text | default: "위치" }}</h3>
              <p class="text-faded">대구광역시 달성군 구지면 국가산단서로 201</p>
              <p class="text-faded">201, Gukgasandanseo-ro, Guji-myeon, Dalseong-gun, Daegu, 43011, Republic of Korea</p>
            <h5>{{ site.data.sitetext[site.locale].about.text | default: "규모" }}</h3>
              <p class="text-faded">413,564m² 규모의 시험장 및 관련 장비 운영</p>
              <p class="text-faded">Test track of 413,564m² and operation of related equipment</p>
              <p> <img src="assets/img/about/kiapi_location.png" width="60%" class="center"> </p>
         </div>
      </div>
  </div>

  <br><br>  <br><br>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Data Base" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext.about.text | default: "Purpose of Construction" }}</h3>  <br>
        <p class="text-faded">Descript in this location</p>
      </div>
    </div>
  </div>
</section>

{% endif %}
<!-- End About -->