<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About KIAPI" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext[site.locale].about.text | default: "Purpose of Establishment" }}</h3>  <br>
        <p class="text-faded">KIAPI will support evaluation of parts of autonomous vehicles and ADAS for local auto parts suppliers with limited development and continuous growth due to changes in internal and external condition, and to become a necessary facility in the local auto parts industry.
Contributing to the strengthening and development of international advanced competitiveness of high premium auto parts industry and related industries through infrastructure construction and efficient management and operation to foster the rights of auto parts makers and to foster ITS-based automotive parts base valley.</p>
        <p> <img src="assets/img/about/kiapi_main_building.PNG" width="60%" height="60%" class="center"> </p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
          <h3>{{ site.data.sitetext[site.locale].about.text | default: "Location and Scale" }}</h3>  <br>
              <p class="text-faded">201, Gukgasandanseo-ro, Guji-myeon, Dalseong-gun, Daegu, 43011, Republic of Korea.<br>Test track of 394,565m² and operation of related equipment.</p>
              <p> <img src="assets/img/about/kiapi_location.png" width="60%" height="60%" class="center"> </p>
          </div>
      </div>
  </div>

  <br><br>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Data Base" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext.about.text | default: "Purpose of Establishment" }}</h3>  <br>
        <p class="text-faded">Descript in this location</p>
      </div>
    </div>
  </div>
</section>

{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About KIAPI" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext.about.text | default: "Purpose of Establishment" }}</h3>  <br>
        <p class="text-faded">KIAPI will support evaluation of parts of autonomous vehicles and ADAS for local auto parts suppliers with limited development and continuous growth due to changes in internal and external condition, and to become a necessary facility in the local auto parts industry.
Contributing to the strengthening and development of international advanced competitiveness of high premium auto parts industry and related industries through infrastructure construction and efficient management and operation to foster the rights of auto parts makers and to foster ITS-based automotive parts base valley.</p>
        <p> <img src="assets/img/about/kiapi_main_building.PNG" width="960" height="auto" class="center"> </p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
          <h3>{{ site.data.sitetext[site.locale].about.text | default: "Location and Scale" }}</h3>  <br>
              <p class="text-faded">201, Gukgasandanseo-ro, Guji-myeon, Dalseong-gun, Daegu, 43011, Republic of Korea.<br>Test track of 394,565m² and operation of related equipment.</p>
              <p> <img src="assets/img/about/kiapi_location.png" width="960" height="auto" class="center"> </p>
         </div>
      </div>
  </div>

  <br><br>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Data Base" }}</h2>  <br>  <br>
        <h3>{{ site.data.sitetext.about.text | default: "Purpose of Establishment" }}</h3>  <br>
        <p class="text-faded">Descript in this location</p>
      </div>
    </div>
  </div>
</section>

{% endif %}
<!-- End About -->